.gbp{
    background-color: #dadcf8;
    color: #4650dd!important;
}
.usd{
    background-color: #cfe2ff;
    color: #3787ff!important;;
}
.chf{
    background-color: #f8d7da;
    color: #ff4958!important;;
}
.eur{
    background-color: #8890ff;
    color: #ffffff!important;;
}
.mad{
    background-color: #ff6b78;
    color: #ffffff!important;;
}